@{
  Layout = "_Layout";
}

<h1>This is the homepage...</h1>

<hr/>

<h3 class="navbar">@Html.ActionLink("See all Engineers", "Index", "Engineers") | @Html.ActionLink("See all Machines", "Index", "Machines")</h3>